@media only screen and (max-width: 480px) {
  .displayToDo__articleTodo {
    height: 175px !important;
  }
  .displayToDo__articleTodo .articleTodo__divContentTodo {
    grid-area: con;
    display: grid;
    grid-template-areas: "ti ti ti" "txt txt txt" "st st vide " "da da da " !important;
  }
  .displayToDo__articleTodo .articleTodo__divContentTodo .divContentTodo__States {
    width: 100px;
  }
}
body {
  max-width: 95vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body header {
  background-color: grey;
  border-radius: 10px;
  font-family: "Bruno Ace SC", cursive;
}
body header form {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
body header form #title {
  background-color: brown;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}
body header form #content {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: aquamarine;
}
body header form select {
  list-style-type: none;
}
body header form select option img {
  max-width: 20%;
}
body header form select button {
  border-radius: 20px;
}
body main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 12px;
}
body main .filterSort {
  background-color: darkcyan;
  min-height: 100px;
  margin: 10px 0;
  width: 90%;
  border: grey solid 2px;
  border-radius: 30px;
  display: flex;
}
body main .filterSort__filter ul li {
  background-color: gold;
}
body main .displayToDo {
  margin: auto;
  width: 90%;
  border: grey solid 2px;
  border-radius: 30px;
  padding: 30px 0;
}
body main .displayToDo__articleTodo {
  margin: auto;
  margin-bottom: 10px;
  height: 150px;
  border: rgba(66, 66, 66, 0.546) solid 1px;
  box-shadow: 7px -2px 13px 0px #bbbbbb;
  width: 90%;
  padding: 10px;
  display: grid;
  grid-template-areas: "img con con" "fun con con" "fun con con";
}
body main .displayToDo__articleTodo:first-child {
  border-radius: 10px 10px 0 0;
}
body main .displayToDo__articleTodo:last-child {
  border-radius: 0 0 10px 10px;
}
body main .displayToDo__articleTodo .articleTodo__divImgTodo {
  padding: 10px;
  grid-area: img;
  margin: auto;
  background-size: contain;
}
body main .displayToDo__articleTodo .articleTodo__divImgTodo.bell {
  background: url("../img/svg/bell.svg");
}
body main .displayToDo__articleTodo .articleTodo__divImgTodo.briefcase {
  background: url("../img/svg/briefcase.svg");
}
body main .displayToDo__articleTodo .articleTodo__divImgTodo.clock {
  background: url("../img/svg/clock.svg");
}
body main .displayToDo__articleTodo .articleTodo__divImgTodo.warning {
  background: url("../img/svg/warning.svg");
}
body main .displayToDo__articleTodo .articleTodo__divContentTodo {
  grid-area: con;
  display: grid;
  grid-template-areas: "ti ti ti" "txt txt txt" "st da da";
  justify-content: center;
  align-content: center;
  justify-content: space-around;
  border: 1px solid gray;
  padding: 10px;
  border-bottom: 0;
  border-top: 0;
}
body main .displayToDo__articleTodo .articleTodo__divContentTodo h4 {
  grid-area: ti;
  text-transform: capitalize;
  text-align: center;
  font-size: 1.3rem;
  margin: 0;
}
body main .displayToDo__articleTodo .articleTodo__divContentTodo .divContentTodo__contentTxt {
  box-sizing: border-box;
  grid-area: txt;
  overflow: hidden;
  max-height: 90px;
}
body main .displayToDo__articleTodo .articleTodo__divContentTodo .divContentTodo__States {
  display: flex;
  grid-area: st;
  height: 26px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  border: 2px dashed white;
}
body main .displayToDo__articleTodo .articleTodo__divContentTodo .divContentTodo__States.todo {
  background-color: rgb(61, 145, 200);
}
body main .displayToDo__articleTodo .articleTodo__divContentTodo .divContentTodo__States.doing {
  background-color: rgb(245, 245, 10);
}
body main .displayToDo__articleTodo .articleTodo__divContentTodo .divContentTodo__States.done {
  background-color: rgb(63, 215, 25);
}
body main .displayToDo__articleTodo .articleTodo__divContentTodo .divContentTodo__date {
  grid-area: da;
  margin-left: 5%;
}
body main .displayToDo__articleTodo .articleTodo__divFuncTodo {
  padding: 10px;
  grid-area: fun;
  position: relative;
  width: 35px;
}
body main .displayToDo__articleTodo .articleTodo__divFuncTodo #todo_delete {
  cursor: pointer;
  position: absolute;
  background-color: red;
  height: 10px;
  width: 55px;
  border-radius: 20px;
  left: -5px;
  top: 20px;
}
body main .displayToDo__articleTodo .articleTodo__divFuncTodo #todo_modify {
  cursor: pointer;
  position: absolute;
  background-color: rgb(0, 8, 255);
  height: 10px;
  width: 100%;
  border-radius: 20px;
  left: -5px;
  top: 40px;
}/*# sourceMappingURL=style.css.map */